.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.title {
  font-size: 3rem;
  font-weight: 100;
  margin: 1rem;
  text-align: center;
}

.subtitle {
  font-size: 2rem;
  font-weight: 100;
  margin: 1rem;
  text-align: center;
  color: #333;
}

@media screen and (min-width: 650px) {
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 100%;
  }
}
