.detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  max-width: 330px;
  box-shadow: 0 0 5px 2px #00000030;
  min-width: 236px;
  min-height: 100px;
  gap: 1rem
}

.image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  overflow: hidden;
  object-position: 0 0;
  box-shadow: 0 0 5px 2px #00000060;
  border: 2px solid #00000080;
}

.name {
  color:#333333;
  margin-right: 1rem;
}
